{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
<div class="hero-back">     
          {% include 'mainapp/includes/inc_menu.html' %}
        <h2 class="Contact-Us">Our Products Range</h2>
</div>
{% endblock header %}

{% block content %}
<div class="Product-location">
  <div class="Product-strock">
    <ul class="product-list">
          {% include 'mainapp/includes/inc_categories_menu.html' %}
    </ul>   
          <div class="strock-line"></div>
          <div class="strock-line-active"></div>
  </div>    
        <div class="Product-set set-1">
          {% for product in products %}
          <div class="treding-prod"> 
            <img src="{% get_media_prefix %}{{ product.image}}" alt="{{ product.name }}">
          </div> 
         {% endfor %}  
 
        </div>
        <div class="product-set-3">
          <a href="#"><img class="curl_s" src="{% static 'img/curl_s.png' %}" alt=""/></a>
        </div>
        <div class="promo-product product-set-4">
          <div class="promo-prod promo-img1">
            <h3 class="promo-h3">exclusive</h3>
            <h2 class="promo-h2">Fishnet Chair</h2>
            <p class="promo-p">
              Seat and back with upholstery made of cold cure foam. Steel frame,
              available in matt
            </p>
            <a style="text-decoration: none;" href="#">
              <div class="back promo-a">
                Order Us
                <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="arrow" />
              </div>
            </a>
          </div>
          <div class="promo-prod promo-img">
            <h3 class="promo-h3">exclusive</h3>
            <h2 class="promo-h2">Fishnet Chair</h2>
            <p class="promo-p">
              Seat and back with upholstery made of cold cure foam. Steel frame,
              available in matt
            </p>
            <a style="text-decoration: none;" href="#">
              <div class="back promo-a">
                Order Us
                <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="arrow" />
              </div>
            </a>
          </div>
        </div>
</div>
{% endblock content %}

