{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
      <div class="Show-back">

          {% include 'mainapp/includes/inc_menu.html' %}

      </div>
      <div class="show-menu">
        <div class="show-strock">
          <ul class="show-list">
            {% include 'mainapp/includes/inc_showroom_menu.html' %}
          </ul>
        </div>
      </div>
{% endblock header %}

{% block content %}
      <div class="show-product">
        <div class="show-slider-1 show-slider-0">
          <img src="{% static 'img/slider1.jpg' %}" alt="slider1" />
          <div class="show-controll">
            <div class="show-control1"></div>
            <div class="show-control2"></div>
            <div class="show-control3"></div>
          </div>
        </div>
        <div class="show-slider-2 show-slider-0">
          <h2 class="show-h2">Fishnet Chair</h2>
          <h3 class="show-h3">Hot Deal</h3>
          <div class="show-price">
            <p class="show-price-index">$</p>
            <p class="">36.7</p>
            <p class="show-price-index">/sq</p>
          </div>
          <a class="how-btn-link" href="#">
            <div class="show-btn">
              <div class="show-btn-block">
                <p class="show-btn-arrow">Order Us</p>
                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="show-btn-img" />
              </div></div
          ></a>
          <p class="show-cont">
            The majesty of Mountains - Ugmonk style. <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore <br />
            <br />
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. <br />
            <br />
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident.
          </p>
        </div>
      </div>
      <div class="show-slider-related">
        <div class="related-title">
          <h2 class="relatedProducts">Related Products</h2>
          <a class="btn-link" href="#">
            <div class="btn-ghost">
              <h2 class="btn">explore all</h2>
              <img
                style="width: 9px; height: 12px;"
                src="{% static 'img/arrow.svg' %}"
                alt="arrow"
              /></div
          ></a>
        </div>
        <div class="show-relatedProducts">
          <div class="show-relatedProducts1"></div>
          <div class="show-relatedProducts2"></div>
          <div class="show-relatedProducts3"></div>
        </div>
      </div>
{% endblock content %}

{% block back-img %}
{% endblock back-img %}




